@charset "UTF-8";
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.maindiv{
  width: 100%;
  height: 100%;
  display: flex;
  }
  .head1{
    width: 20%;
    height: 100vh;
    
  }
  .head2{
    width: 80%;
    height: 100vh;
    height: 68px;
    box-shadow: 1px 1px ;
  }
  .menu {
    padding: 20px;
  height: 70px;
display: flex;
justify-content: space-between;
  
  }
.menu{
  padding: 20px;
}

  
  .admin{
    height: 20px;
    display: flex;
  } 

   select{
    border-style: none;
    font-weight: 600;

    
  }

 .image{
  background: transparent linear-gradient(255deg, #A975BF 0%, #404AC3 97%, #373C7C 100%) 0% 0% no-repeat padding-box;
   border-start-end-radius:35px ;
   height: 70px;
   width: 260px;

}
.image img {
  height: 50px;
  width: 110px;
  padding-top: 20px;
  margin-left: 50px;
}
.options{
  display: flex;
flex-direction: column;
padding: 15px;
}
.opt{
  display: inline-block;
  background-color:#E0E8FF;
  height: 40px;
  width: 240px;
  border-radius: 5px;
  box-shadow: 2px 0px #5B55C2;
  font-family: "inter";
  
}
.opt2{
  height: 40px;
  width: 240px;
  font-family: "Inter";
}

.opt img{
  
  
  mix-blend-mode: darken;
  aspect-ratio: 4/3;
  width: 20px;
}
.options a{

  text-decoration: none;
  color: #232E50;
  font-size: 16px;
  padding:13px ;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 3;
}


.dashboards{
  padding: 20px;
  height: 700px;
  background-color: #F1F2F6;
}
.middlebody{
  height: 170px;
 
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.f1{
  padding: 15px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  color: #6E7796;

  height: 90px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  border-top:5px solid #81A0FD ;
   
  
}
.f2{
padding: 15px;
font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  color: #6E7796;
height: 90px;
width: 300px;
background-color: white;
border-radius: 10px;
border-top:5px solid  #6BD5C0;
}
.f3{
  
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
padding: 15px;
color: #6E7796;
height: 90px;
width: 300px;
background-color: white;
border-radius: 10px;
border-top:5px solid #654DB4;
}
p{
  font-family: 'Inter';
  font-weight: bold;
  font-size: 26px;
  color: #232E50;
  padding: 3px;
}